<div class="buddy-list">
  <a href="/" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  </a>

  <h2>Buddies</h2>

  <div>
    <% current_user.buddies.each do |buddy| %>
      <div>
        <%= link_to buddy.receiver.profile_url, target: 'blank', class: "btn btn-default btn-lg buddy-info" do %>
          <%= image_tag buddy.receiver.small_photo_url %>
          <%=  buddy.receiver.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>