<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="<%= asset_path('favicon.png') %>"/> Sessions live</a>
  </div>
  <div id="nav-main" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="#" {{action goToLink "sessions"}}>Sessions</a></li>
      <li><a href="#" {{action goToLink "directions"}}>Directions</a></li>
      <li><a href="#" {{action goToLink "contacts"}}>Contacts</a></li>
    </ul>
  </div>
</div>
