<a href="#" class="btn btn-sm btn-default" data-toggle="popover" data-title="{{unbound train}}" data-content="{{unbound route}}">
  <span class="glyphicon glyphicon-time"></span>
  <em>{{time time}}</em>
</a>
