<nav id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#contacts">Contacts</a></li>
      <li><a href="#sessions">Sessions</a></li>
    </ul>
  </div>
</nav>

<div class='container' id='main'>
  <div class='content'>
    <div class='row'>
      <div class='span12'>
        <div class='page-header'></div>
        {{outlet}}
      </div>
    </div>
  </div>
</div>
