<div id="contacts" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Contact Infos</h2>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="http://twitter.com/SoCodedHelps" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-comment"></span>
          @SoCodedHelps
        </a>
      </li>
      <li class="list-group-item">
        <a href="http://socoded.com/" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-globe"></span>
          socoded.com
        </a>
      </li>
      <li class="list-group-item">
        <a href="mailto:julia@socoded.com?subject=Help me (via live.socoded)" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-envelope"></span>
          julia@socoded.com
        </a>
      </li>
      <li class="list-group-item">
        <a href="tel:+491758866093" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-earphone"></span>
          Julia: +49 175 88 66 093
        </a>
      </li>
    </ul>
  </div>
</div>
