<div id="contacts" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Contact Infos</h2>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="http://twitter.com/XSessionsHelp" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-comment"></span>
          @XSessionsHelp
        </a>
      </li>
      <li class="list-group-item">
        <a href="http://x-sessions.com/" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-globe"></span>
          x-sessions.com
        </a>
      </li>
      <li class="list-group-item">
        <a href="mailto:info@thorbenschroeder.de?subject=Help me (via live.x-sessions)" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-envelope"></span>
          info@thorbenschroeder.de
        </a>
      </li>
      <li class="list-group-item">
        <a href="tel:+4917623550687" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-earphone"></span>
          Thorben: +49 176 23 55 0687
        </a>
      </li>
    </ul>
  </div>
</div>
