<div id="contacts" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Contact Infos:</h2>
  </div>
  <div class="panel-body">
    telefonnummern, namen, twitter, email
  </div>
</div>
