<div id="contacts" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Contact Infos</h2>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"><a href="http://twitter.com/SoCodedHelps" class="btn btn-default btn-lg">@SoCodedHelps</a></li>
      <li class="list-group-item"><a href="http://socoded.com/" class="btn btn-default btn-lg">socoded.com</a></li>
    </ul>
  </div>
</div>
