<div id="directions" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Directions from Trainstation</h2>
  </div>
  <div class="panel-body">
    <img src="<%= asset_path('directions.png') %>" class="img-rounded img-responsive"/>
  </div>
</div>
