<div id="directions" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Directions from Trainstation</h2>
  </div>
  <div class="panel-body">
    <img src="<%= asset_path('directions.png') %>" class="img-rounded img-responsive"/>
    <br/>
    <ul class="list-group">
      <li class="list-group-item"><strong>LOLA Kulturzentrum e.V.</strong></li>
      <li class="list-group-item">Lohbrügger Landstraße 8</li>
      <li class="list-group-item">21031 Hamburg</li>
      <li class="list-group-item">
        <a href="http://maps.apple.com/?q=Lohbrügger%20Landstraße%208%2021031%20Hamburg" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-map-marker"></span>
          open in Maps
        </a>
      </li>
    </ul>
  </div>
</div>
