<div id="directions" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Directions</h2>
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Address
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"><strong>betahaus</strong></li>
              <li class="list-group-item">Lerchenstraße 28a</li>
              <li class="list-group-item">22767 Hamburg</li>
              <li class="list-group-item">
                <a href="https://www.google.de/maps?q=Lerchenstra%C3%9Fe+28a,+Hamburg&hl=de&ie=UTF8&ll=53.557601,9.962089&spn=0.002479,0.006968&sll=51.175806,10.454119&sspn=10.724792,28.54248&oq=Lerchenstra%C3%9Fe+28a,+H&hnear=Lerchenstra%C3%9Fe+28a,+22767+Hamburg&t=m&z=18" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  open in Maps
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Find the betahaus
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <img src="<%= asset_path('directions.png') %>" class="img-rounded img-responsive"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
