<div id="next-up">
  <h2>Coming up next:</h2>
  <ul>
    {{#each session in nextUp}}
      {{partial "sessionListItem"}}
    {{/each}}
  </ul>
</div>

<div id="sessions">
  <h2>All Sessions:</h2>
  <ul>
    {{#each session in model}}
      {{partial "sessionListItem"}}
    {{/each}}
  </ul>
</div>


{{outlet}}
