<div id="trips" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Trips from Main Station</h2>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      {{#if controllers.trip.model}}
        {{render 'trip' controllers.trip.model}}
      {{/if}}
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Train</th>
          <th>Time</th>
          <th>Platform</th>
        </tr>
        {{#each}}
          <tr>
            <td>
              <span class="label label-primary">{{train}}</span>
            </td>
            <td>
              {{#link-to 'trip' id}}go{{/link-to}}
              <em>{{time time}}</em>
              <span class="glyphicon glyphicon-time"></span>
            </td>
            <td>
              {{platform}}
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>
