<div id="trips" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      Trips from Main Station
      <a href="#" {{action update}} class="btn btn-sm btn-default"}}>
        <span class="glyphicon glyphicon-refresh"></span>
        Refresh
      </a>
    </h2>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Train</th>
          <th>Time</th>
          <th>Platform</th>
        </tr>
        {{#each}}
          <tr>
            <td>
              {{partial 'train_info'}}
            </td>
            <td>
              {{partial 'trip_info'}}
            </td>
            <td>
              {{platform}}
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>
