/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$font-family-sans-serif: American Typewriter;

@import "twitter/bootstrap";

// bootstrap customizations
body {
  padding-top: 60px;

  .logo {
    display: block;
    width: 484px;
    height: 285px;
    background: asset-url('logo.png') no-repeat left top;
    margin-bottom: 20px;
  }
  .stripes {
    height: 100%;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 5px 5px;
  }
}
