/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// bootstrap customizations
$font-family-sans-serif: Arial;

@import "twitter/bootstrap";

$font-color: #ddd;
$background-color: #000;

body {
  background: $background-color;
  padding-top: 60px;
  color: $font-color;

  .logo {
    margin-bottom: 20px;
  }

  .navbar-default {
    background: $background-color;
    color: $font-color;

    .nav-main {
      height: 62px;
    }

    .navbar-header a {
      color: $font-color;
      line-height: 31px;
    }

    .navbar-nav > li {
      padding-top: 5px;

      a {
        color: $font-color;
        &:hover {
          color: $font-color;
          text-decoration: underline;
        }
      }
    }
  }
}
